<div id="<%= "shipment_#{shipment.id}" %>" data-hook="admin_shipment_form" class="panel panel-default">

  <%= render partial: "spree/admin/variants/split", formats: :js %>

  <div class="panel-heading stock-location no-borderb" data-hook="stock-location">
    <h1 class="panel-title">
      <span class="shipment-number"><%= shipment.number %></span>
      -
      <span class="shipment-state"><%= Spree.t("shipment_states.#{shipment.state}") %></span>
      <%= Spree.t(:package_from) %>
      <strong class="stock-location-name" data-hook="stock-location-name">'<%= shipment.stock_location.name %>'</strong>
      <% if shipment.ready? and can? :update, shipment %>
        <%= link_to Spree.t(:ship), 'javascript:;', class: 'ship pull-right btn btn-success', data: { 'shipment-number' => shipment.number } %>
        <div class='clearfix'></div>
        <% elsif @order.shipment_state == "pending" and can? :update, shipment%>

        <%=link_to Spree.t(:ready),ready_admin_order_url(@order),:class => "pull-right btn btn-success"  %>
        <div class='clearfix'></div>

      <% end %>
    </h1>
  </div>

  <table class="table table-bordered stock-contents" data-hook="stock-contents">
    <thead>
      <th colspan="2"><%= Spree.t(:item_description) %></th>
      <th width="15%" class="text-center"><%= Spree.t(:price) %></th>
      <th width="15%" class="text-center"><%= Spree.t(:quantity) %></th>
      <th width="15%" class="text-center"><%= Spree.t(:total) %></th>
      <th class="orders-actions actions text-center" data-hook="admin_order_form_line_items_header_actions"></th>
    </thead>

    <tbody data-shipment-number="<%= shipment.number %>" data-order-number="<%= order.number %>">
      <%= render 'spree/admin/orders/shipment_manifest', shipment: shipment %>

    </tbody>
  </table>

</div>
