<% content_for :page_title do %>
  <%= link_to plural_resource_name(Spree::Order), admin_orders_url %>
  / <%=Spree.t(:fulfillment_list) %>
<% end %>
<% after_tomorrow = Date.tomorrow+1 %>

<%= form_for "fulfillment", url: fulfillment_list_admin_orders_url, method: 'POST', html: { id: "fulfillment_list", multipart: true } do |f|%>

<div class ="fulfillment-tools">
  <div class="fulfillment-action col-md-3">
    <div class="form-group col-md-12">
      <%= select_tag "fulfillment[date]",options_for_select([["Today", Date.today],["Tomorrow", Date.tomorrow],["The day after tomorrow",  after_tomorrow]], @date ),:class => ' form-control ',:data=>@date%>
    </div>
        </div>

  <div class="fulfillment-filter col-md-3">
      <div class="form-group col-md-12">
        <%= f.collection_select "time", @time, :id, :name, {:include_blank => false,:selected => @s_m.id.to_i},  {:class => 'form-control',:data=>@s_m.id.to_i} %>
      </div>
  </div>
  <a class="btn btn-success" id="btn-fulfillment-filter" href="/admin/orders/fulfillment_list">APPLY</a>
</div>
<% if @ready.any? %>
<table class="table" id="listing_products">
  <thead>
    <tr data-hook="admin_products_index_headers">
      <th class="col-md-1">Image</th>
      <th class="col-md-3">Name</th>
      <th class="col-md-1">Dish Type</th>
      <th class="col-md-1">Quantity</th>
      <th class="col-md-6">Ingredients</th>
    </tr>
  </thead>
  <tbody>

    <% @ready.each do |product| %>
        <tr  id="" data-hook="admin_products_index_rows" class="<%= cycle('odd', 'even') %>">
          <td class="image"><%= mini_image product[:product] %></td>
          <td><%= link_to product[:product].try(:name), edit_admin_product_path(product[:product]) %>
          <td><%= link_to product[:product].dish_type.try(:name), edit_admin_dish_type_path(product[:product].dish_type) %></td>
          <td><%=product[:quantity] %></td>
          <td>
           	<% product[:product].ingredients.each do |ingredient| %>
           		<%if ingredient.images.any? %>
              <div class="ingredient">
                <img  class = "ingredient-img"src="<%=ingredient.images.first.attachment.url(:mini) %>" alt="<%=ingredient.name%>">  <%= ingredient.name%>
              </div>
          			
          		<%end %>
          	<%end %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table> 
    <%= submit_tag 'Ship', name: 'Ship',  :class => "btn btn-success", data: { confirm: "Are you sure?" }%>
  <% end %>

   <% if @shipped.any? %>
    <br>
     <p style="font-size: x-large;"> Shipped: </p>
     <table class="table table-hover">
      <thead>
        <tr>
          <th class= "col-md-2">Dish Type</th>
          <th>Product</th>
        </tr>
      </thead>
      <tbody>
      <% @dish_types.each do |dt| %>
        <tr>
          <td><%= link_to dt.try(:name), edit_admin_dish_type_path(dt) %></td>
          <td> 
            <div id="product-shipped">
              <ul >
              <% @shipped.each do |product| %>
                <%if product[:product].dish_type == dt %>
                  <li>  
                    <%= link_to edit_admin_product_path(product[:product]) do %>  
                        <%= mini_image product[:product]%>
                       <%= truncate(product[:product].name, escape: false,length: 10) %>
                      <span class="badge green"><%= product[:quantity]%></span>
                    <% end %>
                  </li>
                <% end %> 
              <% end %>      
              </ul>
            </div>
            
          </td>
        </tr> 
      <% end %>  
      </tbody>
    </table>
  <% end %>
<% end %>
<script type="text/javascript">
  var date = $('#fulfillment_date').attr("data");
  var s_m = $('#fulfillment_time').attr("data");
  var href = "/admin/orders/fulfillment_list";
  $('#fulfillment_date').on('change', function() {
    date =this.value;
    href = "/admin/orders/fulfillment_list?fulfillment[date]="+date +"&fulfillment[time]="+s_m;
    $("#btn-fulfillment-filter").attr("href", href);
  });
  $('#fulfillment_time').on('change', function() {
    s_m =this.value;
    href = "/admin/orders/fulfillment_list?fulfillment[date]="+date +"&fulfillment[time]="+s_m;    
    $("#btn-fulfillment-filter").attr("href", href);
  });


</script>
